<div class="page">
  <div class="title">Turdle</div>
  <div class="attempts">
  <%= form_with url: "/attempts", method: :post do |form| %>
    <%= form.text_field :char1, class: 'tile', maxlength: 1 %>
    <%= form.text_field :char2, class: 'tile', maxlength: 1 %>
    <%= form.text_field :char3, class: 'tile', maxlength: 1 %>
    <%= form.text_field :char4, class: 'tile', maxlength: 1 %>
    <%= form.text_field :char5, class: 'tile', maxlength: 1 %>
    <%= form.submit "Submit" %>
  <% end %>
  </div>
</div>