<div class="page">
  <div class="title">Turdle</div>
  <div class="attempts">
  <%= form_with url: "/search", method: :get do |form| %>
    <%= form.text_field :query, class: 'tile', maxlength: 1 %>
    <%= form.text_field :query, class: 'tile', maxlength: 1 %>
    <%= form.text_field :query, class: 'tile', maxlength: 1 %>
    <%= form.text_field :query, class: 'tile', maxlength: 1 %>
    <%= form.text_field :query, class: 'tile', maxlength: 1 %>
    <%= form.submit "Search" %>
  <% end %>
  </div>
</div>